$fontFamily: Roboto, Arial, Helvetica, sans-serif;
$backgroundColor: #f5f8fa;

$textColor: #384a5c;
$textSize: 14px;

$headingColor: #333;

$borderColor: #b2b2b2;
$hoverColor:  #f5f8fa;
$selectColor: #862583;
